<footer class="row p-3 m-0 bg-light text-center border-top">
  <div class="col-sm-12 col-md-6 m-0 p-0">
    <p>&copy;Copyright 2022. Developed and Designed by Clayton Siby.</p>
  </div>
  <div class="col-sm-12 col-md-6 m-0 p-0">
    <p>All rights reserved.</p>
  </div>
</footer>
