<div class="gradient-custom border">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://localhost:3000">Homepage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" target="_blank">Bootstrap doc</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    <% if current_user.nil? %>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: 'nav-link' do %>Sign in<% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>Go to App<% end %>
      </li>
      <li class="nav-item">
        <%= button_to "logout", destroy_user_session_path, method: :delete, class: "nav-link", title: 'Click to SignOut' %>
      </li>
    <% end %>
  </li>
</ul>
</div>
