<nav
  class="navbar navbar-expand-md bg-light navbar-light border-bottom p-3">
    <div>
      <a class="navbar-brand" href="/">CourseIt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#courseItNavBar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <% if current_user.nil? %>
          <li class="nav-item">
            <button type="button" class="btn btn-sm btn-default border mx-3">
              <%= link_to 'Get Started', new_user_session_path, class: 'nav-link' %>
            </button>
          </li>
        <% end %>
      </ul>
      <span class="mx-4">|</span>
      <ul class="navbar-nav justify-content-end">
        <% if current_user.nil? %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to 'SignOut', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>
