<nav
  class="navbar navbar-expand-md bg-light navbar-light fixed-top border-bottom p-3">
    <div>
      <a class="navbar-brand" href="#">CourseIt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#courseItNavBar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <% if current_user.nil? %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to 'SignOut', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>
