.navbar {
  .navbar-brand {
    .logo {
      width: 7rem;
    }
  }
}

.carousel-item {
  height: 85vh !important;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
  }
}

footer {
  color: #646466;

  p {
    font-size: 0.95rem;
  }
}
